<!DOCTYPE html>
<html>
<head>
    <title>{{ project.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            margin: 0;
            font-family: Arial;
            background: #f5f5f5;
        }

        .container {
            max-width: 900px;
            margin: auto;
            padding: 20px;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }

        h1 {
            margin-top: 20px;
        }

        p {
            color: #555;
        }
    </style>
</head>

<body>

<div class="container">
    <img src="{{ project.image.url }}">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
</div>

</body>
</html>